# CD-skivan

CD-skivan lab.

In [1]:
# importera bibliotek
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# l√§s in laborationsdata
df = pd.read_csv("data.csv")
df

   Wavelength laser  n      x      L
0               663  1  0.282  0.287
1               663  1  0.625  0.648
2               631  1  0.604  0.648
3               631  1  0.302  0.323
4               631  2  1.030  0.323