# Bestäm laserns våglängd

![](overview.png)

Bestämma laserns våglängd.

In [1]:
# importera bibliotek som används
import numpy as np
import pandas as pd

In [2]:
# antal punkter vi vill räkna mätvärden för
# punkterna kan vara odefinierade (NaN) och det kommer inte påverka
# resultatet mer än att medelvärdet blir mindre noggrant
n_num = 3

In [3]:
# läs in laborationsdata från en CSV-fil
df = pd.read_csv("data.csv")
df # skriv ut tabellen så vi ser mätdata

   Gitter lines/mm  Distance gitter to surface    n=1    n=2    n=3
0              300                       0.928  0.187  0.400  0.674
1              300                       0.475  0.095  0.200  0.336
2              600                       0.475  0.209  0.660    NaN
3              600                       0.900  0.397  1.230    NaN
4              600                       0.264  0.120  0.389    NaN
5              300                       0.264  0.055  0.115  0.194

In [4]:
# funktion som beräknar våglängden för en given rad i tabellen
def calculate_wavelength(row, n):
    # beräkna "d", i meter
    d = (1/row["Gitter lines/mm"])/10**3 # ganom att dividera med 10**3 konverterar vi mm to m

    # beräkna vinkeln först
    angle = np.arctan(row[f"n={n}"]/row["Distance gitter to surface"])

    # beräkna våglängden, gör om till nanometer
    wavelength = d*np.sin(angle) / n * 10**9

    return wavelength
    
for n in range(1, n_num+1):
    # beräkna våglängden med funktionen ovan
    df[f"n={n} wavelength nm"] = df.apply(lambda row: calculate_wavelength(row, n), axis=1)

# nya kolumner som läggs till är "n=x wavelength nm" som är våglängden i nanometer för ett visst n
# kolumnerna har enheten meter om inget annat angives
df

,Gitter lines/mm,Distance gitter to surface,n=1,n=2,n=3,n=1 wavelength nm,n=2 wavelength nm,n=3 wavelength nm
0,300,0.928,0.187,0.400,0.674,658.459807,659.715579,652.947952
1,300,0.475,0.095,0.200,0.336,653.720450,646.761667,641.658513
2,600,0.475,0.209,0.660,NaN,671.231024,676.375794,NaN
3,600,0.900,0.397,1.230,NaN,672.650248,672.525271,NaN
4,600,0.264,0.120,0.389,NaN,689.671574,689.533730,NaN
5,300,0.264,0.055,0.115,0.194,679.847514,665.601550,657.952603

In [5]:
wavelengths = []
for n in range(1, n_num+1):
    # medelvärde för varje kolumn
    x = df[f"n={n} wavelength nm"].mean()
    print(f"Medelvärde för n={n}: {x} nm")
    
    # lägg in alla medelvärden i en lista
    wavelengths.append(x)
    
# totalt medelvärde för samtliga "n=x wavelength nm"-kolumner
print(f"Medelvärde totalt, alla mätvärden: {sum(wavelengths)/n} nm")

Medelvärde för n=1: 670.9301028177968 nm
Medelvärde för n=2: 668.418931894544 nm
Medelvärde för n=3: 650.8530224899299 nm
Medelvärde totalt, alla mätvärden: 663.4006857340902 nm

In [6]:
# hitta standardavvikelse
for n in range(1, n_num+1):
    print(f"Standardavvikelse våglängd för n={n}: {df[f'n={n} wavelength nm'].std()}")

Standardavvikelse våglängd för n=1: 13.307838443500371
Standardavvikelse våglängd för n=2: 14.688304870515406
Standardavvikelse våglängd för n=3: 8.346609509370484